<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <clear/>
    <!--设备编码-->
    <add key="DeviceNumber" value="02N2DM72030001"/>
    <!--本地经纬度 106 31-->
    <add key="Local_lon" value="117.2"/>
    <add key="Local_lat" value="39.13"/>
    <!--过滤区域范围以CorrectArear为半径的圆  单位Km-->
    <add key="CorrectArear" value="500"/>
    <!--报文搜索范围（单位：度） 9 -->
    <add key="Local_info" value="9"/>
    <!--数据统计页面显示报文条数-->
    <add key="DataNumber" value="10"/>
    <!--数据库最缓存时间(默认保存1个月的数据，单位：月)-->
    <add key="DataBase_Month" value="1"/>
    <!--单次数据回调长度，单位：字节)-->
    <add key="OnePackNum" value="2048"/>
    <!--单次数据回调包数，单位：字节)-->
    <add key="CallBackNum" value="2048"/>
    <!--显示驻留时间，单位：s)-->
    <add key="StandyTime" value="600"/>
    <!--其他-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
